apiVersion: apps/v1
kind: Deployment
metadata:
  name: helloworld
  labels:
    k8s-app: helloworld
spec:
  selector: 
    matchLabels:
      k8s-app: helloworld
  replicas: 1
  template:
    metadata:
      labels:
        k8s-app: helloworld
    spec:
      containers:
        - name: helloworld
          image: registry.gitlab.com/bin3377/deploy-helloworld:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 200Mi
            limits:
              cpu: 200m
              memory: 400Mi
      imagePullSecrets:
        - name: registry.gitlab.com
