apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: helloworld
  name: helloworld
  namespace: helloworld
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
  selector:
    k8s-app: helloworld
